*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    width: 90%;
}

.row:before, .row:after{
    content: "";
    display: table;
    clear: both;
}

[class*="col-"]{
    color: white;
    float:left;
    font-size: 3rem;
    font-weight: bold;
    min-height: 7px;
    /*gutters*/
}

/* calculo matematico del 100% del sitio entre las 12 columnas y multiplicarlo por el numero de cada columna 
<(100/12)* num-col> */
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 22.22%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

