
[class*="col-"]{
    border: 3px solid white;
    /*gutters*/
}

.col-3{
    background-color: #da70d6;
}
.col-4{
    background-color: skyblue;
}

.col-12{
    background-color: rgb(245, 221, 10);
}

.row-BCD{
    background-color: palevioletred;
    height: 5rem;
}

.row-EFG{
    height: 5rem;
}

div.row-mainH{
    background-color: plum;
     height: 10rem;
}


@media screen and (max-width:450px){
    .col-12{
        background-color: palevioletred;
        width: 100%;
    }
    section.row div.col-8 {
        width: 100%;
    }
    
    .row-A{
        height: 15vh;
    }

    .row-B{
        height: 25vh;
    }

    .row-CDE{
        background-color: salmon;
        border: 6px solid white;
        width: 33%;
    }

    .row-mainF{
        background-color: skyblue;
        height: 15vh;
        padding: 2.5rem;
        width: 100%;
    }

}
